@model ICollection<TweakersUserBadge.Models.User>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tweakers Badge Generator</title>
    <meta name="viewport" content="maximum-scale=1, initial-scale=1.0, user-scalable=no" />
    <link href="~/Content/Main.css" rel="stylesheet" />
    <link href="~/Content/Print.css" rel="stylesheet" media="print" />
</head>
<body>
<div class="badges">
    @if(Model.Count == 0) {
        @:Geen resultaten!
    }
    @foreach (var user in Model) {
        <div class="badge">
            <img src="~/Content/header.png"/>
            <div class="image">
                <img width="60" height="60" src="@user.IconUrl"/>
            </div>
            <div class="username">@Html.Raw(user.Username)</div>
            <div class="fullname">@(Html.Raw(user.Name ?? user.Username))</div>
            <div class="beroep bio">@(Html.Raw(user.Beroep ?? "Onbekend"))</div>
            <div class="opleiding bio">@(Html.Raw(user.Education ?? "Onbekend"))</div>
            <div class="karma bio"><span class="karmaAmount">@user.Karma</span><span class="karmaRanking">@user.KarmaRanking</span></div>
            <div class="tweakotine bio">@user.Tweakotine</div>
        </div>
    }
</div>
</body>
</html>